[submodule "OLMo-core"]
	path = OLMo-core
	url = https://github.com/ryanyxw/OLMo-core.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "FlexOlmo"]
	path = FlexOlmo
	url = https://github.com/ryanyxw/FlexOlmo.git
[submodule "olmoefig4-flexolmo_transformers"]
	path = olmoefig4-flexolmo_transformers
	url = https://github.com/ryanyxw/olmoefig4-flexolmo_transformers.git
